.contact_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.highlight {
    background: var(--text-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 30px var(--glow-color));
}

.contact_container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 13px;
}

.contact_container h3 {
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0;
}

.contact_form{
    width: 50%;
    /* min-width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.item{
    width: 100%;
}

.item input, .item textarea{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    font-size: 16px;
    padding: 8px;
}

.item input:focus, .item textarea:focus{
    outline: none;
}

.item textarea{
    height: fit-content;
    scrollbar-width: none;
}

.item button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: var(--gradient-1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 10px 30px var(--glow-color);
}
.input_error{
    color: #d9534f;
    margin-top: 6px;
    font-size: 0.9rem;
}

.contact_info{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--text-primary);
    font-size: 18px;
}

.contact_info div{
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--glow-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
    .contact_form{
        width: 70%;
    }
}

@media (max-width: 576px) {
    .contact_form {
        width: 85%;
    }

    .contact_info{
        flex-direction: column;
        align-items: center;
    }
}