.my_skills_container{
    width: 100%;
    height: auto;
}

.highlight {
    background: var(--text-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 30px var(--glow-color));
}

.my_skills_container h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.skills_grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills_column{
    height: auto;
}

.skills_column h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-tertiary);
    margin-bottom: 15px;
    background: var(--text-tertiary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 30px var(--glow-color));
}


.skills_list{
    list-style: none;
    padding-left: 0;
    gap: 20px;
}

.skills_list li{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    color: var(--text-primary);
}

.skill_logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.skill_logo img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}